.home-banner-paceholder {
  min-height: 100vh;
  background-color: var(--dv-light-yellow);
}

.home {
  min-height: 100vh;

  /* START OF BANNER STYLES */
  .home-banner {
    background-color: var(--dv-light-yellow);
    padding-top: 3rem;

    .notify-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 16px;
      background-color: #ffffff;
      box-shadow: 0px 5px 4px 7px rgba(157, 143, 143, 0.05);
      padding: 1.5rem 2.5rem;
      margin-bottom: 6rem;

      button {
        @include media('<=phone') {
          display: none;
        }
      }

      @include media('<=phone') {
        display: block;
        margin-bottom: 4.5rem;
      }
    }

    .hero-text-container {
      max-width: 650px;
      margin: 0 auto;
      position: relative;

      .hashtag-container {
        position: absolute;
        top: -3rem;
        left: -4.5rem;

        @include media('<=tablet') {
          display: none;
        }
      }

      .asterisk-container {
        position: absolute;
        right: 0;
        top: 6rem;

        @include media('<=tablet') {
          display: none;
        }
      }

      h2 {
        text-align: center;
        opacity: 0;
        transform: translateY(32px);
        animation: fadeInUpSplit 2s cubic-bezier(0.7, 0, 0.25, 1) forwards;
      }

      @keyframes fadeInUpSplit {
        from {
          opacity: 0;
          transform: translateY(32px);
        }

        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      p {
        font-weight: 200;
        text-align: center;
        margin: 1.5rem 0 1.2rem 0;
        color: #474343;
        padding: 0 1.8rem;
        opacity: 0;
        animation: fadeInUp 2s cubic-bezier(0.7, 0, 0.25, 1) forwards;

        @keyframes fadeInUp {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }

        @include media('<=tablet') {
          padding: 0;
        }
      }
    }

    @include media('<=tablet') {
      padding-top: 1.5rem;
    }

    .arithmetic-container {
      margin-top: 3rem;
      width: 100%;
      height: 57px;
      background-image: url('../../../public/images/png/arithmetic.png');
      @include centerCoverBg();
    }
  }

  /* END OF BANNER STYLES */

  /* START OF BIG TECH FESTIVAL STYLES */

  .big-tech-festival-wrapper {
    padding: 6rem 0 4rem;
    overflow: hidden;

    .text-content {
      background-color: #ffffff;
      max-width: 710px;

      p {
        color: var(--dv-gray);
        font-weight: 200;
        margin-top: 1.5rem;
      }
    }

    .image-gallery {
      margin-top: 3rem;
      overflow: hidden;

      .single-img-container {
        width: 400px;
        height: 420px;
        margin: 0 1rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }

        @include media('<=phone') {
          height: 320px;
          width: 320px;
          margin: 0 0.5rem;
        }
      }
    }

    @include media('<=phone') {
      padding: 5rem 0;
    }
  }

  /* END OF BIG TECH FESTIVAL STYLES */

  /* START OF HIGHLIGHT STYLES */

  .highlights-wrapper {
    background-color: var(--dv-green);
    padding: 7rem 0 6rem;

    p {
      color: var(--dv-gray);
      font-weight: 300;
    }

    h2 {
      // max-width: 600px;
      margin-top: 1rem;
    }

    @include media('<=phone') {
      padding: 5rem 0 3rem;
    }

    .highlights-img {
      margin-top: 4rem;
      width: 100%;
      height: 500px;
      background-image: url('../../../public/images/webp/highlights-cover-img.webp');
      @include centerCoverBg();
      border-radius: 25px;
      position: relative;

      @include media('<=tablet') {
        height: 400px;
      }

      .play-icon {
        position: absolute;
        cursor: pointer;
        height: 100%;
        width: 100%;
        top: 0;

        img {
          &:hover {
            transform: translateY(-1.5px);
            @include buttonTransition();
          }
        }
      }
    }

    .highlights-modal {
      padding: 0;
    }

    .video-iframe-wrapper {
      height: 35rem;

      @include media('<=phone') {
        height: 25rem;
      }
    }

    iframe {
      border-radius: 12px;
      height: 100%;
    }
  }

  /* END OF BANNER STYLES */

  /* START OF CELEBRATION STYLES */

  .celebration-wrapper {
    padding: 7rem 0;
    overflow: hidden;
    background-color: var(--dv-yellow);

    @include media('<=phone') {
      padding-bottom: 4rem;
    }

    .celebration-content {
      margin: 0 auto;
      max-width: 731px;
      text-align: center;

      p {
        font-weight: 200;
        color: var(--dv-gray);
        margin: 1rem 0;
      }
    }

    .topics-wrapper {
      margin-top: 9rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: .6rem;

      @include media('<=phone') {
        margin-top: 5rem;
      }

      .topic-pill {
        padding: 28px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;
        border-radius: 144px;

        @include media('<=tablet') {
          padding: 18px 22px;
        }

        @include media('<=phone') {
          padding: 12px 14px;
        }

        p {
          font-size: 22px;
          font-weight: 600;

          @include media('<=tablet') {
            font-size: 16px;
          }

          @include media('<=phone') {
            font-size: 14px;
          }


        }
      }
    }
  }

  /* END OF CELEBRATION STYLES */

  /* START OF SUBSCRIPTION STYLES */
  .subscription-wrapper {
    background-color: var(--dv-light-yellow);
    padding-top: 7rem;
    position: relative;
    z-index: 700;

    .subscription-content {
      display: flex;
      gap: 1rem;
      margin-bottom: 3rem;

      >div {
        width: 50%;
      }

      .subscription-form-container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .intro-text {
          font-weight: 300;
          color: var(--dv-gray);
        }

        form {
          margin-top: 3rem;
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          max-width: 400px;
        }

        @include media('>phone', '<=desktop') {
          h2 {
            font-size: 46px;
            line-height: 56px;
          }
        }

        @include media('<=tablet') {
          flex-direction: column;

          .event-gallery-container {
            display: none;
          }
        }
      }

      .event-gallery-container {
        height: 645px;
        width: 550px;
        position: relative;

        .event-img-one {
          position: absolute;
          bottom: 0;
          z-index: 400;
          transform: rotate(-12deg);
        }

        .event-img-two {
          position: absolute;
          bottom: 1.5rem;
          right: 2rem;
          z-index: 300;
          transform: rotate(12deg);
        }

        .event-img-three {
          position: absolute;
          z-index: 200;
          top: 2.2rem;
          left: -1.5rem;
          transform: rotate(-12deg);
        }

        .event-img-four {
          position: absolute;
          z-index: 100;
          right: 3.5rem;
          transform: scaleX(-1) rotate(-12deg);
        }

        @include media('<=desktop') {
          display: none;
        }
      }

      @include media('<=desktop') {
        >div {
          max-width: 480px;
        }
      }

      @include media('>tablet', '<=desktop') {
        >div {
          width: 60%;
        }
      }

      @include media('<=tablet') {
        >div {
          width: 100%;
        }
      }
    }

    .arithmetic-container {
      margin-top: 6rem;
      width: 100%;
      height: 57px;
      background-image: url('../../../public/images/png/arithmetic.png');
      @include centerCoverBg();
    }

    @include media('<=tablet') {
      padding-top: 10rem;
    }
  }

  .success-modal {
    h5 {
      @include typography(22px);
      margin: 1rem 0;
    }

    p {
      margin: 0 auto 2rem;
      max-width: 412px;
      font-weight: 300;
    }
  }

  /* END OF SUBSCRIPTION STYLES */
}