/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/apply-to-speak/apply.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.apply_apply__5ATU7 {
  min-height: 100vh;
  background-color: var(--dv-light-yellow);
}
.apply_apply__5ATU7 .apply_container__qTkSB {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}
.apply_apply__5ATU7 .apply_container__qTkSB .apply_header__wCNS1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 5px 4px 2px rgba(157, 143, 143, 0.05);
  padding: 1.5rem 2.5rem;
  margin-bottom: 6rem;
}
@media (max-width: 430px) {
  .apply_apply__5ATU7 .apply_container__qTkSB .apply_header__wCNS1 button {
    display: none;
  }
}
@media (max-width: 430px) {
  .apply_apply__5ATU7 .apply_container__qTkSB .apply_header__wCNS1 {
    display: block;
    margin-bottom: 4.5rem;
  }
}
.apply_apply__5ATU7 .apply_container__qTkSB .apply_form__9oSA5 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
