/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src/app/layout.tsx","import":"","arguments":[{"src":[{"path":"../fonts/GeneralSans-Regular.woff","weight":"400","style":"normal"},{"path":"../fonts/GeneralSans-Medium.woff","weight":"500","style":"normal"},{"path":"../fonts/GeneralSans-Semibold.woff","weight":"600","style":"normal"},{"path":"../fonts/GeneralSans-Bold.woff","weight":"700","style":"normal"}]}],"variableName":"GeneralSans"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__GeneralSans_177452';
src: url(/_next/static/media/f134b2c51a52f156-s.p.woff) format('woff');
font-display: swap;
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: '__GeneralSans_177452';
src: url(/_next/static/media/b9031fabb78447d4-s.p.woff) format('woff');
font-display: swap;
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: '__GeneralSans_177452';
src: url(/_next/static/media/585130ff465f2527-s.p.woff) format('woff');
font-display: swap;
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: '__GeneralSans_177452';
src: url(/_next/static/media/0e97a8c2c42cfa9b-s.p.woff) format('woff');
font-display: swap;
font-weight: 700;
font-style: normal;
}@font-face {font-family: '__GeneralSans_Fallback_177452';src: local("Arial");ascent-override: 99.89%;descent-override: 23.74%;line-gap-override: 9.89%;size-adjust: 101.11%
}.__className_177452 {font-family: '__GeneralSans_177452', '__GeneralSans_Fallback_177452'
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"node_modules/geist/dist/sans.js","import":"","arguments":[{"src":"./fonts/geist-sans/Geist-Variable.woff2","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"GeistSans"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__GeistSans_3a0388';
src: url(/_next/static/media/e11418ac562b8ac1-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__GeistSans_Fallback_3a0388';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_3a0388 {font-family: '__GeistSans_3a0388', '__GeistSans_Fallback_3a0388'
}.__variable_3a0388 {--font-geist-sans: '__GeistSans_3a0388', '__GeistSans_Fallback_3a0388'
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/styles/index.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dv-black: #1e1e1e;
  --dv-gray: #323232;
  --dv-blue: #c3ecf6;
  --dv-green: #d8f8d3;
  --dv-red: #ec5446;
  --dv-yellow: #ffe7a5;
  --dv-light-yellow: #fffaeb;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );
    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );
    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--dv-black);
}

a {
  color: inherit;
  text-decoration: none;
}

.text-sm {
  font-size: 14px;
  line-height: 24px;
}

.text-base {
  font-size: 16px;
  line-height: 24px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-xl {
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 768px) {
  .text-xl {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-2xl {
  font-size: 28px;
  line-height: 36px;
}

.text-3xl {
  font-size: 39px;
  line-height: 56px;
}

.text-4xl {
  font-size: 48px;
  line-height: 48px;
}

.text-5xl {
  font-size: 56px;
  line-height: 70px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .text-5xl {
    font-size: 39px;
    line-height: 56px;
  }
}

.text-6xl {
  font-size: 80px;
  line-height: 90px;
}
@media (max-width: 768px) {
  .text-6xl {
    font-size: 28px;
    line-height: 36px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 14px;
  }
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-error {
  color: var(--dv-red);
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--dv-green);
  border-radius: 10px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.btn {
  border: none;
  font-weight: 600;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
}
.btn .btn-label {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.btn .btn-label span {
  height: 14px;
  width: 14px;
  margin-left: 5px;
}
.btn div {
  position: relative;
  top: 20;
}
.btn-sm {
  padding: 12px 36px;
}
.btn-md {
  padding: 20px 43.3px;
}
.btn-lg {
  padding: 23px 54px;
  font-size: 16px;
}
.btn-primary {
  background-color: var(--dv-black);
  color: #ffffff;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  transform: translateY(-1.5px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}

.timer-placeholder {
  height: 20rem;
}
@media (max-width: 768px) {
  .timer-placeholder {
    height: 12.5rem;
  }
}
@media (max-width: 430px) {
  .timer-placeholder {
    height: 8.5rem;
  }
}

.countdown-wrapper {
  background-color: #008c42;
  border-radius: 40px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .countdown-wrapper {
    border-radius: 20px;
  }
}
@media (max-width: 430px) {
  .countdown-wrapper {
    border-radius: 20px;
    gap: 0.2rem;
    padding: 3px;
  }
}
.countdown-wrapper .time-element {
  min-width: 7rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.countdown-wrapper .time-element .hidden-el {
  position: absolute;
  transform: translateY(-100%);
  top: 0;
  text-align: center;
}
.countdown-wrapper .time-element-container {
  background-color: var(--dv-light-yellow);
  border-radius: 32px;
  width: 25%;
  height: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.countdown-wrapper .time-element-container p {
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .countdown-wrapper .time-element-container {
    height: 120px;
    border-radius: 26px;
  }
}
@media (max-width: 767px) {
  .countdown-wrapper .time-element-container {
    min-width: 3rem;
  }
  .countdown-wrapper .time-element-container h1 {
    font-size: 36px;
    font-weight: 500;
  }
  .countdown-wrapper .time-element-container p {
    font-size: 12px;
    font-weight: 400;
  }
}
@media (max-width: 430px) {
  .countdown-wrapper .time-element-container {
    height: 68px;
    border-radius: 20px;
    gap: 0.1rem;
  }
  .countdown-wrapper .time-element-container .time-element {
    min-width: 3rem;
  }
  .countdown-wrapper .time-element-container h1 {
    font-size: 28px;
    font-weight: 500;
  }
  .countdown-wrapper .time-element-container p {
    font-size: 10px;
    font-weight: 400;
  }
}

.footer-wrapper {
  background-color: #008c42;
  padding: 9rem 0 4rem;
  color: #1c1c1c;
  font-weight: 200;
}
.footer-wrapper .footer-main {
  display: flex;
  gap: 6rem;
}
.footer-wrapper .footer-main div:nth-of-type(1) {
  width: 52%;
}
.footer-wrapper .footer-main div:nth-of-type(1) .about-pill {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-weight: 600;
  border-radius: 22px;
  padding: 0.3rem 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.2rem;
}
.footer-wrapper .footer-main div:nth-of-type(1) p {
  line-height: 1.5rem;
}
.footer-wrapper .footer-main div:nth-of-type(1) p:nth-of-type(2) {
  margin-top: 1.5rem;
}
.footer-wrapper .footer-main div:nth-of-type(1) span {
  font-weight: 400;
}
.footer-wrapper .footer-main div:nth-of-type(1) .socials {
  margin-top: 1rem;
}
.footer-wrapper .footer-main div:nth-of-type(1) .socials p {
  font-weight: 500;
}
.footer-wrapper .footer-main div:nth-of-type(1) .socials > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.7rem;
}
@media (max-width: 1024px) {
  .footer-wrapper .footer-main div:nth-of-type(1) {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .footer-wrapper .footer-main div:nth-of-type(1) {
    width: 100%;
  }
}
.footer-wrapper .footer-main div:nth-of-type(2) {
  width: 48%;
}
.footer-wrapper .footer-main div:nth-of-type(2) .footer-logo {
  width: 300px;
  height: 90px;
}
.footer-wrapper .footer-main div:nth-of-type(2) button {
  margin: 2.7rem 0;
}
.footer-wrapper .footer-main div:nth-of-type(2) .footer-links {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 3rem;
}
.footer-wrapper .footer-main div:nth-of-type(2) .footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  font-weight: 400;
}
.footer-wrapper .footer-main div:nth-of-type(2) .footer-links ul li {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .footer-wrapper .footer-main div:nth-of-type(2) {
    width: 50%;
    max-width: 320px;
  }
}
@media (max-width: 768px) {
  .footer-wrapper .footer-main div:nth-of-type(2) {
    width: 100%;
  }
  .footer-wrapper .footer-main div:nth-of-type(2) .footer-logo {
    width: 250px;
  }
}
@media (max-width: 430px) {
  .footer-wrapper .footer-main div:nth-of-type(2) .footer-logo {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .footer-wrapper .footer-main {
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .footer-wrapper .footer-main {
    flex-direction: column;
    gap: 4rem;
  }
}
@media (max-width: 430px) {
  .footer-wrapper .footer-main button {
    width: 100%;
  }
}
.footer-wrapper .footer-copyright {
  text-align: center;
  margin: 8rem auto 0;
  font-weight: 300;
}
@media (max-width: 430px) {
  .footer-wrapper .footer-copyright {
    margin: 5rem auto 0;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .footer-wrapper {
    padding: 3rem 0;
  }
}

.textfield-wrapper .textfield {
  padding: 10px 16px;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  color: var(--dv-black);
  border: none;
  height: 56px;
  font-family: GeistSans GeneralSans;
}
.textfield-wrapper .textfield:focus {
  outline: 1.5px solid var(--dv-yellow);
}
.textfield-wrapper .textfield::placeholder {
  color: #333333;
  opacity: 0.5;
  font-weight: 100;
}
.textfield-wrapper .text-error {
  margin-top: 0.2rem;
  font-size: 12px;
  color: var(--dv-red) !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  padding: 4px;
  outline: none;
  z-index: 1001;
  padding: 2.5rem 1rem 1.4rem;
}
.modal-sm {
  max-width: 400px;
}
.modal-md {
  max-width: 600px;
}
.modal-lg {
  max-width: 1100px;
}
.modal-content {
  position: relative;
}
.modal-content .close-icon-wrapper {
  position: absolute;
  right: 0;
  top: -1rem;
  cursor: pointer;
}

.home-banner-paceholder {
  min-height: 100vh;
  background-color: var(--dv-light-yellow);
}

.home {
  min-height: 100vh;
  /* START OF BANNER STYLES */
  /* END OF BANNER STYLES */
  /* START OF BIG TECH FESTIVAL STYLES */
  /* END OF BIG TECH FESTIVAL STYLES */
  /* START OF HIGHLIGHT STYLES */
  /* END OF BANNER STYLES */
  /* START OF CELEBRATION STYLES */
  /* END OF CELEBRATION STYLES */
  /* START OF SUBSCRIPTION STYLES */
  /* END OF SUBSCRIPTION STYLES */
}
.home .home-banner {
  background-color: #ccffcf;
  padding-top: 3rem;
}
.home .home-banner .notify-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 5px 4px 7px rgba(157, 143, 143, 0.05);
  padding: 1.5rem 2.5rem;
  margin-bottom: 6rem;
}
@media (max-width: 430px) {
  .home .home-banner .notify-block button {
    display: none;
  }
}
@media (max-width: 430px) {
  .home .home-banner .notify-block {
    display: block;
    margin-bottom: 4.5rem;
  }
}
.home .home-banner .hero-text-container {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}
.home .home-banner .hero-text-container .hashtag-container {
  position: absolute;
  top: -3rem;
  left: -4.5rem;
}
@media (max-width: 768px) {
  .home .home-banner .hero-text-container .hashtag-container {
    display: none;
  }
}
.home .home-banner .hero-text-container .asterisk-container {
  position: absolute;
  right: 0;
  top: 6rem;
}
@media (max-width: 768px) {
  .home .home-banner .hero-text-container .asterisk-container {
    display: none;
  }
}
.home .home-banner .hero-text-container h2 {
  text-align: center;
  opacity: 0;
  transform: translateY(32px);
  animation: fadeInUpSplit 2s cubic-bezier(0.7, 0, 0.25, 1) forwards;
}
@keyframes fadeInUpSplit {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home .home-banner .hero-text-container p {
  font-weight: 200;
  text-align: center;
  margin: 1.5rem 0 1.2rem 0;
  color: #474343;
  padding: 0 1.8rem;
  opacity: 0;
  animation: fadeInUp 2s cubic-bezier(0.7, 0, 0.25, 1) forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .home .home-banner .hero-text-container p {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .home .home-banner {
    padding-top: 1.5rem;
  }
}
.home .home-banner .arithmetic-container {
  margin-top: 3rem;
  width: 100%;
  height: 57px;
  background-image: url(/_next/static/media/arithmetic.ea8ee8a6.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .big-tech-festival-wrapper {
  padding: 6rem 0 4rem;
  overflow: hidden;
}
.home .big-tech-festival-wrapper .text-content {
  background-color: #ffffff;
  max-width: 710px;
}
.home .big-tech-festival-wrapper .text-content p {
  color: var(--dv-gray);
  font-weight: 200;
  margin-top: 1.5rem;
}
.home .big-tech-festival-wrapper .image-gallery {
  margin-top: 3rem;
  overflow: hidden;
}
.home .big-tech-festival-wrapper .image-gallery .single-img-container {
  width: 400px;
  height: 420px;
  margin: 0 1rem;
  overflow: hidden;
}
.home .big-tech-festival-wrapper .image-gallery .single-img-container img {
  width: 100%;
  height: 100%;
}
@media (max-width: 430px) {
  .home .big-tech-festival-wrapper .image-gallery .single-img-container {
    height: 320px;
    width: 320px;
    margin: 0 0.5rem;
  }
}
@media (max-width: 430px) {
  .home .big-tech-festival-wrapper {
    padding: 5rem 0;
  }
}
.home .highlights-wrapper {
  background-color: var(--dv-green);
  padding: 7rem 0 6rem;
}
.home .highlights-wrapper p {
  color: var(--dv-gray);
  font-weight: 300;
}
.home .highlights-wrapper h2 {
  margin-top: 1rem;
}
@media (max-width: 430px) {
  .home .highlights-wrapper {
    padding: 5rem 0 3rem;
  }
}
.home .highlights-wrapper .highlights-img {
  margin-top: 4rem;
  width: 100%;
  height: 500px;
  background-image: url(/_next/static/media/highlights-cover-img.d9efedff.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  position: relative;
}
@media (max-width: 768px) {
  .home .highlights-wrapper .highlights-img {
    height: 400px;
  }
}
.home .highlights-wrapper .highlights-img .play-icon {
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  top: 0;
}
.home .highlights-wrapper .highlights-img .play-icon img:hover {
  transform: translateY(-1.5px);
  transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
}
.home .highlights-wrapper .highlights-modal {
  padding: 0;
}
.home .highlights-wrapper .video-iframe-wrapper {
  height: 35rem;
}
@media (max-width: 430px) {
  .home .highlights-wrapper .video-iframe-wrapper {
    height: 25rem;
  }
}
.home .highlights-wrapper iframe {
  border-radius: 12px;
  height: 100%;
}
.home .celebration-wrapper {
  padding: 7rem 0;
  overflow: hidden;
  background-color: var(--dv-yellow);
}
@media (max-width: 430px) {
  .home .celebration-wrapper {
    padding-bottom: 4rem;
  }
}
.home .celebration-wrapper .celebration-content {
  margin: 0 auto;
  max-width: 731px;
  text-align: center;
}
.home .celebration-wrapper .celebration-content p {
  font-weight: 200;
  color: var(--dv-gray);
  margin: 1rem 0;
}
.home .celebration-wrapper .topics-wrapper {
  margin-top: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
}
@media (max-width: 430px) {
  .home .celebration-wrapper .topics-wrapper {
    margin-top: 5rem;
  }
}
.home .celebration-wrapper .topics-wrapper .topic-pill {
  padding: 28px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-radius: 144px;
}
@media (max-width: 768px) {
  .home .celebration-wrapper .topics-wrapper .topic-pill {
    padding: 18px 22px;
  }
}
@media (max-width: 430px) {
  .home .celebration-wrapper .topics-wrapper .topic-pill {
    padding: 12px 14px;
  }
}
.home .celebration-wrapper .topics-wrapper .topic-pill p {
  font-size: 22px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .home .celebration-wrapper .topics-wrapper .topic-pill p {
    font-size: 16px;
  }
}
@media (max-width: 430px) {
  .home .celebration-wrapper .topics-wrapper .topic-pill p {
    font-size: 14px;
  }
}
.home .subscription-wrapper {
  background-color: var(--dv-light-yellow);
  padding-top: 7rem;
  position: relative;
  z-index: 700;
}
.home .subscription-wrapper .subscription-content {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}
.home .subscription-wrapper .subscription-content > div {
  width: 50%;
}
.home .subscription-wrapper .subscription-content .subscription-form-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .subscription-wrapper .subscription-content .subscription-form-container .intro-text {
  font-weight: 300;
  color: var(--dv-gray);
}
.home .subscription-wrapper .subscription-content .subscription-form-container form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 400px;
}
@media (min-width: 431px) and (max-width: 1024px) {
  .home .subscription-wrapper .subscription-content .subscription-form-container h2 {
    font-size: 46px;
    line-height: 56px;
  }
}
@media (max-width: 768px) {
  .home .subscription-wrapper .subscription-content .subscription-form-container {
    flex-direction: column;
  }
  .home .subscription-wrapper .subscription-content .subscription-form-container .event-gallery-container {
    display: none;
  }
}
.home .subscription-wrapper .subscription-content .event-gallery-container {
  height: 645px;
  width: 550px;
  position: relative;
}
.home .subscription-wrapper .subscription-content .event-gallery-container .event-img-one {
  position: absolute;
  bottom: 0;
  z-index: 400;
  transform: rotate(-12deg);
}
.home .subscription-wrapper .subscription-content .event-gallery-container .event-img-two {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 300;
  transform: rotate(12deg);
}
.home .subscription-wrapper .subscription-content .event-gallery-container .event-img-three {
  position: absolute;
  z-index: 200;
  top: 2.2rem;
  left: -1.5rem;
  transform: rotate(-12deg);
}
.home .subscription-wrapper .subscription-content .event-gallery-container .event-img-four {
  position: absolute;
  z-index: 100;
  right: 3.5rem;
  transform: scaleX(-1) rotate(-12deg);
}
@media (max-width: 1024px) {
  .home .subscription-wrapper .subscription-content .event-gallery-container {
    display: none;
  }
}
@media (max-width: 1024px) {
  .home .subscription-wrapper .subscription-content > div {
    max-width: 480px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .home .subscription-wrapper .subscription-content > div {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .home .subscription-wrapper .subscription-content > div {
    width: 100%;
  }
}
.home .subscription-wrapper .arithmetic-container {
  margin-top: 6rem;
  width: 100%;
  height: 57px;
  background-image: url(/_next/static/media/arithmetic.ea8ee8a6.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .home .subscription-wrapper {
    padding-top: 10rem;
  }
}
.home .success-modal h5 {
  font-size: 22px;
  margin: 1rem 0;
}
.home .success-modal p {
  margin: 0 auto 2rem;
  max-width: 412px;
  font-weight: 300;
}
